TemplateService/TemplateService_v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://nl.nagazuka.services.example/TemplateService_v1/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="TemplateService_v1" targetNamespace="http://nl.nagazuka.services.example/TemplateService_v1/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://nl.nagazuka.services.example/TemplateService_v1/">
			<xsd:element name="RenderTemplate">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="templateName" type="xsd:string" />
						<xsd:element name="parameters">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="parameter" minOccurs="0"
										maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="key" type="xsd:string" />
												<xsd:element name="value" type="xsd:string" />
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RenderTemplateResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RenderTemplateRequest">
		<wsdl:part element="tns:RenderTemplate" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RenderTemplateResponse">
		<wsdl:part element="tns:RenderTemplateResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="TemplateService_v1">
		<wsdl:operation name="RenderTemplate">
			<wsdl:input message="tns:RenderTemplateRequest" />
			<wsdl:output message="tns:RenderTemplateResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TemplateService_v1SOAP" type="tns:TemplateService_v1">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RenderTemplate">
			<soap:operation
				soapAction="http://nl.nagazuka.services.example/TemplateService_v1/RenderTemplate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TemplateService_v1">
		<wsdl:port binding="tns:TemplateService_v1SOAP" name="TemplateService_v1SOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
